<div class="taskboard-container">
  <div class="taskboard-header">
    <h1 class="taskboard-title">Meu quadro de tarefas</h1>
  </div>
  <div class="taskboard-controls">
    <input class="task-input" type="text" placeholder="Adicionar tarefa" disabled />
    <select class="task-category-select" disabled>
      <option>Categoria</option>
      <option>Trabalho</option>
      <option>Casa</option>
      <option>Pessoal</option>
    </select>

  </div>
  <div class="taskboard-empty">
    <div class="taskboard-empty-msg">Nenhuma tarefa adicionada <span class="emoji">🥲</span></div>
  </div>
</div>